body{
    background-color: black;
    color: white;
}
img {
    height: 400px;
    width: 400px;
    padding-left: 25%;
    padding-right: 25%;

}

h1 {
    font-size: 48;
    color: green;
    background-color: rgba(255, 0, 0, 0.721);
    text-align: center;
    

}

p{
    text-align: center;
}

h2 {
    font-size: 24;
    background-color: rgba(255, 0, 0,  0.721);
    text-align: center;
}

.ingredients {
   text-align: center;
}

.steps {
    padding-left: 25%;
    padding-right: 25%;
}